<div>
	<a
		routerLink="/"
		class="text-xl font-bold hover:text-cyan-400 transition duration-300"
		><img
			[src]="'https://scontent-dfw5-1.xx.fbcdn.net/v/t39.30808-6/481038444_910919444585949_1051980039119643498_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=RDJ5gsLgCBwQ7kNvwHpVPqf&_nc_oc=AdmoeSb1VdCF60n6jrx3s5-GCxVNHNRsjsqP1UkdRIyNN9UeBmvFgQbZvpdvqXTJHmk&_nc_zt=23&_nc_ht=scontent-dfw5-1.xx&_nc_gid=ShS-mGRmQ4Fwtd57d_25eQ&oh=00_AfP9DjCBKTPARB-SSQEHgHfyjcY65pSvPmrfGyPqpfCD7w&oe=684E7774'"
			alt="banner"
			class="w-full" /></a
></div>
